body {
  font-family: Helvetica, Arial, sans-serif;
  background: #222;
  color: #4f4;
  font-size: 11pt;
}

a {
  color: yellow;
}

a:visited {
  color: orange;
}

a:active, a:hover {
  color: white;
  text-decoration: none;
}

fieldset {
  border: solid 1px black;
}

input, select, textarea {
  border: solid 1px yellow;
  background: #111;
  color: #4f4;
  font-size: 11pt;
  margin-left: 2em;
}
label {
  display: block;
}
